* {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(32, 32, 32);
    color: white;
}
#logo {
    width: 10%;
    margin: 0;
    padding: 5px;
}
#image img{
  width: 100%;
  height: auto;
}
div#nav {
    padding: 5px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
  }
  
  li {
    float: left;
    /* border: 2px solid red; */
  }
  
  li a {
    display: block;
    color: white;
    /* text-align: center; */
    padding: 14px 16px;
    /* margin: 25px 50px; */
    text-decoration: none;
    background-color: black;
  }
  
  li a:hover {
    background-color: #111;
  }